.bountyContainer{
    display: grid;
    grid-template-areas:
    'title'
    'bountyBoard';
    width: 100%;
    height: 100%;
    
}

.noSubleases{
    text-align: center;
    font-size: xx-large;
    margin-top: 1rem;
}

.bountyTitle{
    grid-area: title;
    font-size: larger;
}

.bountyView{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    overflow-x: auto;
}

.bountyCards{
    border: 1px solid grey;
    display: grid;
    background-color: white;
    grid-template-areas:
    'image general'
    'description description';
    grid-template-rows: .5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    width: 25rem;
    height: 22rem;
    
    
}

.bountyImage{
    grid-area: image;
    max-width: 100%;
    height: auto;
}

.bountyGeneral{
    grid-area: general;
    display: grid;
}


.bountyDescription{
    display: flex;
    flex-direction: column;
    grid-area: description;
    height: 100%;
}

.bountyDescription > button{
    width: 5rem;
    margin: auto;
}