.reviewContainer{
    width: 100%;
    display: grid;
    grid-template-areas:
    'title'
    'reviewList';
    grid-template-rows: 5rem max(30rem);
}

.reviewTitle{
    grid-area: title;
    font-size: larger;
    margin-bottom: none;
}

.reviewList{
    grid-area: reviewList;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 1rem;
}

.noReviews{
    text-align: center;
    font-size: xx-large;
    margin-top: 1rem;
}

.uniqueReview{
    
    display: grid;
    border: solid 1px black;
    grid-template-areas: 
    'img username rating'
    'img review review';
    grid-template-columns: .25fr 1fr 1fr;
    grid-template-rows:min-content min-content;
    
    
}

.reviewerPFP{
    grid-area: img;

}

.reviewerUsername{
    grid-area: username;
    text-align: left;
}

.reviewerRating{
    grid-area: rating;
}

.reviewerStory{
    grid-area: review;
}

.aptmntViewButton{
    width: 20rem;
    height: 3rem;
    color: white;
    background-color: #443182;
    border: 1px solid #443182;
    border-radius: 5px;
}

.aptmntViewButton:hover{
    cursor: pointer;
    background-color: #2e1f6e;
}