.navContainer{
    display: grid;
    grid-template-areas: 
    '. title account .';
    grid-template-columns: .5fr 2.5fr 1.5fr .5fr;
    background-color:  grey;
    width: 100%;
}

h1{
    grid-area: title;
    text-align: left;
    color: white;
    font-weight: 600;
}

h1:hover{
    cursor: pointer;
}

.accountIcon{
    grid-area: account;
    margin: auto;
    margin-right: 0%;
    
}

.material-symbols-outlined{
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
}

.material-symbols-outlined:hover{
    cursor: pointer;
}



.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdownContent {
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 145%;
    z-index: 1;
}

#myDropdown{
    display: grid;
    grid-template-areas: 
    'profile'
    'messages'
    'sign-out'
    ;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .5rem;
}

.dropdownProfile{
    grid-area: profile
}

.dropdownMessages{
    grid-area: messages
}


.dropdownSignout{
    grid-area: sign-out
}

.material-symbols-outlined{
    color: rgba(255, 255, 255, 1);
    font-size: 36px;

}

.show {visibility:visible;}

.accntBtn{
    background-color: transparent;
    border:none;
    
}

.accntBtn:hover{
    cursor: pointer;
}

.dropdownContent > button{
    padding:7px 4px;
    background-color: transparent;
    border:none;
}
.dropdownContent > button:hover{
    cursor: pointer;
    background-color: #cdcbcb;
    
}
a{
    text-decoration: none;
    color: black
}