.App {
  display: grid;
  grid-template-areas:
  'nav nav nav'
  '. view .'
  'footer footer footer';
  text-align: center;
}

.homeNav{
  grid-area: nav;
}

.viewContainer{
  grid-area: view;
}


.jumbo{

  background-image: url("./imgs/samantha-gades-fIHozNWfcvs-unsplash.jpg");
  background-size: cover;
  margin-top: 4%;
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

          text-shadow: rgb(24, 24, 24) 1px 0 10px;
}

.jumboText{
  padding-top: 20rem;
}

h2 {
  color: white;
  font-size: 3em;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
  color: #ffffff;
}
#image-container {
  height: 25vh;
  overflow: hidden;
}
#listing-image {
  height: 100%;
}


.generalBtn{
  border: none;
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
}

.generalBtn:hover{
  cursor: pointer;
  background-color: #00643f;
}
