{% extends "layout.html" %}
{% block content %}
<h1>Subletting Listing</h1>
<div id = "image-container">
    <img src="static/img/{{filename}}" alt="image not found">
</div>
<ul>
    <li><strong>Number of Beds:</strong> {{beds}}</li>
    <li><strong>Number of Baths:</strong> {{baths}}</li>
    <li><strong>Sqft:</strong> {{sqft}}</li>
    <li><strong>Location:</strong> {{location}}</li>
    <li><strong>Rent:</strong> ${{rent}}/month</li>
</ul>
<p>
    {{description}}
</p>
<p>
    Please contact us if you're interested in subletting this apartment.
</p>

{% endblock %}