.mainContainer{
    display: grid;
    grid-template-areas:
    'nav nav nav'
    '. view .';
    text-align: center;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto;
}


.nav{
    grid-area: nav;
}

.listContainer{
    
    grid-area: view;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 5%;
}

p{
    font-weight: bolder;
}

.apartmentCard{
    border: 1px solid black;
    border-radius: 6px;
    width: 300px;
    height: 350px;
    margin-bottom: 20px;

}

img{
    width: 300px;
    height: 200px;
    object-fit: contain;
}


.generalBtn{
    border: none;
    background-color: #04AA6D;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
}

.generalBtn:hover{
    cursor: pointer;
    background-color: #00643f;
}
