
.aptmntViewContainer{
    display: grid;
    background-color: white;
    grid-template-areas:
    'apartmentInfoView'
    'subleasesView'
    'reviewsView'
    ;
    grid-template-rows: 1fr auto auto;
    border: solid 1px black;
    height: 130rem;
    width: 80%;
    margin: 2% auto auto auto;
}

.apartmentInfoContainer{
    grid-area: apartmentInfoView;
    display: grid;
    grid-template-areas:
    'aptmntImage aptmntInfo';
    grid-template-columns: 1fr 1fr;
}

.apartmentImage{
    grid-area: aptmntImage;
    height: auto;
    width: 100%;
}

.apartmentInfo{
    text-align: center;
    grid-area: aptmntInfo;
}

.apartmentName{
    font-size:xx-large;
}

.subleaseViewContainer{
    padding-left: 3rem;
    padding-top: 1rem;
    grid-area: subleasesView
}

.reviewViewContainer{
    padding-left: 3rem;
    padding-right: 3rem;
    grid-area: reviewsView
}


.amenitiesContainer{
    display: flex;
    margin:auto;
    flex-direction: row;
    justify-content: space-around;
    
    width: 40rem;
    overflow: auto;
}

.amenitiesContainer > div{
    background-color: rgb(121, 121, 121);
    width: 30%;
    height: 7rem;
    color: white;
    border: 1px solid burlywood;
    justify-content: center;
    padding: 12px;
}